<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
</head>
<footer class="latte">
    <div class="container">
      <div class="row middle">
        <div class="col-md-6">
          <p class="tx-americano">&copy; 2023 Arian L. Becker. All rights reserved.</p>
        </div>
        <div class="col-md-6 text-md-right">
          <a href=#" target="_blank" class="tx-americano">Visit My Portfolio</a>
        </div>
      </div>
    </div>
</footer>
</html>